@model WebApplication1.Models.Country

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details of  @Html.DisplayFor(model => model.Name)</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <h2 class="text-center text-success"> Details of  @Html.DisplayFor(model => model.Name)</h2>
    <p>
        @Html.ActionLink("Back to the List", "Index")
    </p>
    <table class="table table-bordered table-striped table-hover" width=400>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StateCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Area) (km"2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Population)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Region)
                </th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.StateCode)
            </td>
            <td>
                @Html.DisplayFor(model => model.City.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Area)
            </td>
            <td>
                @Html.DisplayFor(model => model.Population)
            </td>
            <td>
                @Html.DisplayFor(model => model.Region.Name)
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>
